{% extends "layout.twig" %}


{% block content %}


        <div class="row">
            <div class="col-12 text-dark text-center">
                <h2 id="nastaveni_nadpis">Servisní činnosti</h2>
            </div>
            <div class="container">
                <!-- Nav tabs -->
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a id="nastaveni_menu_inicializace" class="nav-link" data-toggle="pill" href="#nastaveni_inicializace">
                            <span class="font-weight-bold">Počáteční inicializace</span></a>
                    </li>
                    <li class="nav-item">
                        <a id="nastaveni_menu_aktualizace" class="nav-link active show" data-toggle="pill" href="#nastaveni_aktualizace">
                            <span class="font-weight-bold"><i class="fas fa-database"></i> Aktualizace úloh</span></a>
                    </li>
                    <li class="nav-item">
                        <a id="nastaveni_menu_reset_heslo" class="nav-link" data-toggle="pill" href="#nastaveni_reset_heslo">
                            <span class="font-weight-bold">Reset hesla studenta</span></a>
                    </li>
                    <li class="nav-item">
                        <a id="nastaveni_menu_reset_DB" class="nav-link" data-toggle="pill" href="#nastaveni_reset_DB">
                            <span class="font-weight-bold">Reset databáze</span></a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="nastaveni_inicializace" class="container tab-pane"><br>
                        <h5 id="nastaveni_inicializace_nadpis">Určí, kolik bude celkem úloh, a načte soubor se seznamem všech zapsaných studentů.</h5>

                        {% if studentsCount %}
                            <div class="alert alert-warning">Seznam všech studentů již byl načten. Pokud jej chcete změnit, resetujte nejdříve DB.</div>
                        {% endif %}
                        <form action="/public/initialization" method="post" validate="">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Počet všech úloh</span>
                                </div>
                                <div class="input-group-prepend">
                                    <input id="nastaveni_inicializace_pocet_uloh" type="number" name="inicPocetUloh" min="1" max="99" maxlength="2" size="2" value="10" required="" {% if studentsCount %}disabled=""{% endif %}>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Jméno souboru se seznamem všech studentů</span>
                                </div>
                                <div class="input-group-prepend">
                                    <select id="nastaveni_inicializace_soubory" class="form-control" name="seznamStudentu" {% if studentsCount %}disabled=""{% endif %}>
                                        {% for filename in inputFiles %}
                                            <option>{{ filename }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="nastaveni_inicializace_submit" type="submit" class="btn btn-primary" name="OBSLUHA_nastaveni_inicializace" value="Inicializovat" {% if studentsCount %}disabled=""{% endif %}>
                            </div>
                        </form>
                    </div>
                    <div id="nastaveni_aktualizace" class="container tab-pane fade active show"><br>
                        <h5 id="nastaveni_aktualizace_nadpis">Načte ze souboru seznam odevzdaných úloh exportovaný z validátoru.</h5>
                        {% if studentsCount == 0 %}
                            <div class="alert alert-warning">Dosud nebyl načten seznam všech studentů. Proveďte to v Inicializaci.</div>
                        {% endif %}
                        <form action="/public/update-tasks" method="post" validate="">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Jméno souboru odevzdaných úloh</span>
                                </div>
                                <div class="input-group-prepend">
                                    <select id="nastaveni_aktualizace_soubory" class="form-control" name="seznamUloh" {% if studentsCount == 0 %}disabled=""{% endif %}>
                                        {% for filename in inputFiles %}
                                            <option>{{ filename }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="nastaveni_aktualizace_submit" type="submit" class="btn btn-primary" name="OBSLUHA_nastaveni_aktualizace" value="Načíst soubor" {% if studentsCount == 0 %}disabled=""{% endif %}>
                            </div>
                        </form>
                    </div>
                    <div id="nastaveni_reset_heslo" class="container tab-pane fade"><br>
                        <h5 id="nastaveni_reset_heslo_nadpis">Zvolenému studentovi se vymaže heslo, čímž se umožní jeho opětovná registrace.</h5>
                        {% if studentsCount == 0 %}
                            <div class="alert alert-warning">Dosud nebyl načten seznam všech studentů.</div>
                        {% endif %}
                        <form action="/public/reset-student-password" class="" method="post" validate="">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Osobní číslo</span>
                                </div>
                                <select id="nastaveni_reset_heslo_oscisla" class="form-control" name="resetOsCislo" {% if studentsCount == 0 %}disabled=""{% endif %}>
                                    <option id="oscislo_nevybrano">--- Nevybráno ---</option>
                                    {% for student in studentsWithPassword %}
                                        <option id="login_{{ student['school_number'] }}">{{ student['school_number'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <input id="nastaveni_reset_heslo_submit" type="submit" class="btn btn-primary" name="OBSLUHA_nastaveni_resetHesla" value="Resetovat heslo" {% if studentsCount == 0 %}disabled=""{% endif %}>
                            </div>
                        </form>
                    </div>
                    <div id="nastaveni_reset_DB" class="container tab-pane fade"><br>
                        <h5 id="nastaveni_reset_DB_nadpis">Vymaže celou databázi. Po této akci bude aplikace ve stavu jako před prvním spuštěním.</h5>
                        <form action="/public/reset-database" method="post">
                            <div class="form-group">
                                <a id="nastaveni_reset_DB_submit" class="btn btn-danger text-light" href="#" data-toggle="modal" data-target="#nastaveni_reset_DB_modal" title="Rozmysli si to!">
                                    Resetovat databázi
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {{  block("body", "modal/resetDbModal.twig") }}

{% endblock %}