<!DOCTYPE html>
<html lang="cs"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ baseUri }}/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ baseUri }}/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ baseUri }}/public/css/style.css">

    <link rel="icon" type="image/png" href="favicon.ico">
    <title id="spolecne_prvni">
        {%  if  role == constant('App\\Enum\\EUserRole::TEACHER') %}
            Učitel
        {% elseif role == constant('App\\Enum\\EUserRole::STUDENT') %}
            Student
        {% else %}
            Nepřihlášený
        {% endif %}
    </title>

    {% block head %}{% endblock %}
</head>
<body>
<!-- nadpis stranky -->
<header class="container-fluid">
    <div class="row">
        <div class="col-1">
            <button id="spolecne_bt_info" type="button" class="btn btn-info btn-lg font-weight-bold mt-4" data-toggle="popover" title="" data-content="Toto je vzorová Ukázková Prohlížecí Aplikace (UPA) pro použití v&nbsp;předmětech KIV/WEB a KIV/OKS.
                            Všechny další podrobnosti se dočtete v Návodu." data-placement="bottom" data-original-title="Informace o aplikaci">
                <abbr id="spolecne_bt_abbr" title="Klikni pro info o aplikaci">
                    <i class="fas fa-info fa-spin"></i>
                </abbr>
            </button>
        </div>
        <div class="col-11">
            <h1 id="spolecne_nadpis" class="text-center">
                Přehledy odevzdávání samostatných prací<br>
                <a id="spolecne_nadpis_predmet" href="navod" class="text-info font-weight-bold">
                    KIV/OKS</a>
                <a id="spolecne_nadpis_odkaz" title="Stránky předmětu KIV/OKS na Courseware ZČU" href="https://portal.zcu.cz/portal/studium/courseware/kiv/oks" target="_blank" class="text-info">
                    <i class="fas fa-external-link-alt odkaz"></i></a>
            </h1>
        </div>
    </div>
</header>


{%  if  role == constant('App\\Enum\\EUserRole::TEACHER') %}
    {{  block("body", "other/teacherMenu.twig") }}
{% elseif role == constant('App\\Enum\\EUserRole::STUDENT') %}
    {{  block("body", "other/studentMenu.twig") }}
{% else %}
    {{  block("body", "other/nonLoggedMenu.twig") }}
{% endif %}


{%  if  role == constant('App\\Enum\\EUserRole::TEACHER') %}
    {{  block("body", "modal/teacherModal.twig") }}
{% elseif role == constant('App\\Enum\\EUserRole::STUDENT') %}
    {{  block("body", "modal/studentModal.twig") }}
{% else %}
    {{  block("body", "modal/nonLoggedModal.twig") }}
{% endif %}

<!-- Obsah stranky -->
<div class="container">
    <!-- Clanek -->
    {% block content %}{% endblock %}
</div>
<!-- KONEC: Obsah stranky -->

{{  block("body", "other/footer.twig") }}

<!-- ------------- JavaScripty ------------- -->


<script src="{{ baseUri }}/public/js/jQuery.js" crossorigin="anonymous"></script>
<script src="{{ baseUri }}/public/js/poper.min.js" crossorigin="anonymous"></script>
<script src="{{ baseUri }}/public/js/bootstrap.min.js"></script>

{% block scripts %}{% endblock %}

<script>
    $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });

    <!-- pokud je inkludovan, tak nefunguje   -->
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>

<!-- KONEC: JavaScripty ------------- -->

{% if errorMsg %}
    {{  block("body", "modal/errorModal.twig") }}
{% endif %}

{% if successMsg %}
    {{  block("body", "modal/successModal.twig") }}
{% endif %}

</body>

</html>