{% extends "layout.twig" %}

{% block head %}

{% endblock %}

{% block content %}

        <article class="container">
            <div class="row">
                <div class="col-12 text-primary text-center">
                    <h2 id="oscislo_nadpis_tabulka">
                        <span class="text-success font-weight-bold">
                            <span id="oscislo_jmeno">{{ studentInfo["firstname"] }}</span>
                            <span id="oscislo_prijmeni">{{ studentInfo["lastname"] }}</span>
                        </span>
                        – podrobný přehled
                    </h2>
                </div>
                <div class="col-12 pb-0 mb-4 mt-1">
                    <div class="bg-white progress">
                        <!-- OK -->
                        <div class="progress-bar bg-success font-weight-bold" style="width:{{ (progressBarData["successful"] / taskCount) * 100 }}%">
                            <abbr id="oscislo_prgbar_ok" title="Úspěšně odevzdaných úloh">
                                OK: {{ progressBarData["successful"] }}
                            </abbr>
                        </div>
                        <!-- Chyba -->
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger font-weight-bold" style="width:{{ (progressBarData["unsuccessful"] / taskCount) * 100 }}%">
                            <abbr id="oscislo_prgbar_chyba" title="Nespěšně odevzdaných úloh">
                                Neúspěch: {{ progressBarData["unsuccessful"] }}
                            </abbr>
                        </div>
                        <!-- Zbytek -->

                        {% set rest = progressBarData['total'] - progressBarData["unsuccessful"] - progressBarData["successful"] %}
                        <div class="progress-bar bg-secondary font-weight-bold" style="width:{{ (rest / taskCount) * 100 }}%    ">
                            <abbr id="oscislo_prgbar_zbytek" title="Bez pokusu o odevzdání">
                                Vůbec: {{ rest }}
                            </abbr>
                        </div>
                    </div>
                </div>

                <div class="col-12 table-responsive">
                    <table id="oscislo_tab" class="table table-sm table-bordered table-striped table-hover">
                        <thead class="thead-dark text-center">
                        <tr id="oscislo_tab_tr_0">
                            <th rowspan="2" class="align-middle">
                                {{ studentInfo['school_number'] }}
                            </th>
                            <th rowspan="2" class="align-middle">
                                Suma / Průměr
                            </th>
                            <th colspan="{{ taskCount }}">
                                OKS
                            </th>
                        </tr>
                        <tr>
                            {% for i in 1..taskCount %}
                                <th>{{ "%02d"|format(i) }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr id="oscislo_tab_tr_1" class="table-warning position-relative">
                                <td class="text-left"><abbr title="Celkem úspěšných a neúspěšných odevzdání">Počet všech odevzdání</abbr></td>
                                <td id="oscislo_tab_tr_1_suma" class="align-middle">
                                    {% if studentTotalData['total'] %}
                                        ∑&nbsp;{{ studentTotalData['total'] }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                {% for i in 1..taskCount %}
                                    <td class="align-middle">{{ studentData[i]["total"] ?? "-" }}</td>
                                {% endfor %}
                            </tr>
                            <tr id="oscislo_tab_tr_2" class="table-danger position-relative">
                                <td class="text-left">
                                    <abbr title="Neúspěšná odevzdání – podmnožina všech odevzdání">
                                        Počet neúspěšných odevzdání
                                    </abbr>
                                </td>
                                <td id="oscislo_tab_tr_2_suma" class="align-middle">
                                    {% if studentTotalData['unsuccessfulAttempt'] %}
                                        ∑&nbsp;{{ studentTotalData['unsuccessfulAttempt'] }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                {% for i in 1..taskCount %}
                                    <td class="align-middle">{{ studentData[i]["unsuccessfulAttempt"] ?? "-" }}</td>
                                {% endfor %}
                            </tr>
                            <tr id="oscislo_tab_tr_3" class="table-success position-relative">
                                <td class="text-left">
                                    <abbr title="Úspěšná odevzdání – podmnožina všech odevzdání; je možné úspěšně odevzdat vícekrát">
                                        Počet úspěšných odevzdání
                                    </abbr>
                                </td>
                                <td id="oscislo_tab_tr_3_suma" class="align-middle">
                                    {% if studentTotalData['successfulAttempt'] %}
                                        ∑&nbsp;{{ studentTotalData['successfulAttempt'] }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                {% for i in 1..taskCount %}
                                    <td class="align-middle">{{ studentData[i]["successfulAttempt"] ?? "-" }}</td>
                                {% endfor %}
                            </tr>
                            <tr id="oscislo_tab_tr_4" class="table-success position-relative">
                                <td class="text-left">
                                    <abbr title="Poměr úspěšných odevzdání ku všem odevzdáním">
                                        Procento úspěšnosti
                                    </abbr>
                                </td>
                                <td id="oscislo_tab_tr_4_suma" class="align-middle">
                                    {% if studentTotalData['successRate'] %}
                                        ø&nbsp;{{ (studentTotalData['successRate']* 100)|number_format() }}&nbsp;%
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                {% for i in 1..taskCount %}
                                    <td class="align-middle">
                                        {% if studentData[i]["successRate"] %}
                                            {{ (studentData[i]["successRate"] * 100)|number_format() }}&nbsp;%
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr id="oscislo_tab_tr_5" class="position-relative">
                                <td class="text-left">
                                    <abbr title="Maximální počet odevzdání do úspěšného pokusu nebo rezignace">
                                        Maximum odevzdání
                                    </abbr>
                                </td>
                                <td id="oscislo_tab_tr_5_suma" class="align-middle">
                                    {{ studentTotalData["maxAttempt"] }}
                                </td>
                                {% for i in 1..taskCount %}
                                    <td class="align-middle">{{ studentData[i]["total"] ?? "-" }}</td>
                                {% endfor %}
                            </tr>
                            <tr id="oscislo_tab_tr_6" class="position-relative">
                                <td class="text-left align-middle">
                                    <abbr title="Datum a čas prvního odevzdání">
                                        Začátek odevzdání
                                    </abbr>
                                </td>
                                <td id="oscislo_tab_tr_6_suma" class="align-middle">
                                    {% if studentTotalData["startDate"] %}
                                        <small>
                                            {{ studentTotalData["startDate"]|date("Y-m-d") }}
                                            <br>
                                            {{ studentTotalData["startDate"]|date("H:i") }}
                                        </small>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                {% for i in 1..taskCount %}
                                    <td class="align-middle">
                                        {% if studentData[i]["startDate"] %}
                                            <small>
                                                {{ studentData[i]["startDate"]|date("Y-m-d") }}
                                                <br>
                                                {{ studentData[i]["startDate"]|date("H:i") }}
                                            </small>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr id="oscislo_tab_tr_7" class="position-relative">
                                <td class="text-left align-middle">
                                    <abbr title="Datum a čas posledního odevzdání">
                                        Konec odevzdání
                                    </abbr>
                                </td>
                                <td id="oscislo_tab_tr_7_suma" class="align-middle">
                                    {% if studentTotalData["endDate"] %}
                                        <small>
                                            {{ studentTotalData["endDate"]|date("Y-m-d") }}
                                            <br>
                                            {{ studentTotalData["endDate"]|date("H:i") }}
                                        </small>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                {% for i in 1..taskCount %}
                                    <td class="align-middle">
                                        {% if studentData[i]["endDate"] %}
                                            <small>
                                                {{ studentData[i]["endDate"]|date("Y-m-d") }}
                                                <br>
                                                {{ studentData[i]["endDate"]|date("H:i") }}
                                            </small>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </article>

        <div class="row ">
            <div class="col-12 text-primary text-center">
                <h2 id="oscislo_nadpis_graf">
                    Ve kterou denní hodinu
                    <span class="text-success font-weight-bold">
                        {{ studentInfo["firstname"] ~ " " ~ studentInfo["lastname"] }}
                    </span>
                    odevzdával(a)
                </h2>
            </div>
            <div class="col-12">
                <span id="graph-data" style="display: none">{{ graphData }}</span>

                <canvas id="graf_hodin_odevzdani" width="2220" height="1110" class="chartjs-render-monitor" style="display: block; height: 555px; width: 1110px;"></canvas>
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script src="/public/js/chart.js"></script>

    <script src="/public/js/graphInit.js"></script>
{% endblock %}